body{
  background-color:wheat;
}
.body{
  display: grid;
margin-left: 40rem;
margin-right: 40rem;
background-color: aqua;
font-style:oblique;
border-radius: 0.30rem;
margin-top: 100px;
}
.inc{
    background-color: blue;
    margin-bottom: 1rem;
    color: white;
    border-radius: 0.25rem;
    font-size: 0.5cm;
}
.dec{
  background-color: red;
  margin-bottom: 1rem;
  color:white;
  border-radius: 0.25rem;
    font-size: 0.5cm;
}
.res{
  background-color: green;
  margin-bottom: 1rem;
  color:white;
  border-radius: 0.25rem;
    font-size: 0.5cm;
}
.cnt{
color: blue;
margin-left: 8.5rem;
}
.co{
  color:red;
  margin-left: 8.5rem;
  font-size: 0.75cm;
}